.header {
    background-color: #363738;
    display: flex;
    height: 50px;
    justify-content: space-around;
    flex-direction: row;
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);}
